@media (max-width: 576px) {
  /*? root style */
  :root {
    --h1-font-size: 32px;
    --h2-font-size: 22px;
    --p-font-size: 15px;

    --width-primary: 90%;
  }

  /* ==================================================
            *NAVBAR style starts here*
   ================================================== */

  nav {
    .container {
      padding: 30px 0;

      ul {
        display: none;
      }

      .btn {
        display: none;
      }
      .hamburger {
        display: block;
      }
    }
  }

  /* ==================================================
            *BANNER style starts here*
   ================================================== */

  #banner {
    height: 50vh;
    position: relative;

    .content {
      .microphone {
        margin-top: 60px;

        .badge {
          top: 5px;
          right: 5px;
          padding: 6px 18px;
          font-size: 16px;
        }

        .mic-circle {
          border: 5px solid #2a186c;
          width: 200px;
          height: 200px;

          img {
            width: 35%;
          }
        }
      }

      h1 {
        margin-bottom: 10px;
      }

      p {
        white-space: wrap;
        max-width: 400px;
        margin: 0 auto 25px;
      }

      .buttons {
        display: flex;

        .btn {
          padding: 12px 20px;
          font-size: 14px;
        }
      }
    }
  }

  /* ==================================================
            *ABOUT style starts here*
   ================================================== */

  #about {
    background: #1a0b2e;
    .container {
      padding: 50px 0 120px;

      p {
        width: 100%;
      }

      .stats {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        justify-content: space-between;
        gap: 40px;

        .single-stats {
          h3 {
            color: var(--green-txt-color);
            font-size: 40px;
            text-align: center;
          }

          p {
            text-align: center;
            white-space: nowrap;
            font-size: 12px;
          }
        }
      }
    }
  }

  /* ==================================================
            *CHOSE US style starts here*
   ================================================== */

  #card-section {
    .container {
      margin: 80px auto;

      .cards {
        gap: 30px;
        grid-template-areas:
          "audio"
          "mobile"
          "global"
          "interview"
          "resources";

        .card {
          padding: 30px;
          gap: 16px;
          align-items: start;
          h3 {
            font-size: 24px;
          }
        }

        .card1 {
          p {
            width: 100%;
          }
        }
      }
    }
  }

  /* ==================================================
            *EPISODES style starts here*
   ================================================== */

  #episodes {
    .container {
      .cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        .card {
          display: flex;
          flex-direction: column;

          .card-text {
            h3 {
              font-size: 19px;
            }
            p {
              color: var(--p-txt-color);
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  /* ==================================================
          *MEET OUR HOST style starts here*
   ================================================== */

  #host {
    padding: 60px 0 120px;
    h2 {
      margin-bottom: 40px;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .textual {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          text-align: center;
          width: 100%;
        }

        .icons {
          gap: 10px;
        }
      }
    }
  }

  /* ==================================================
            *FOOTER style starts here*
   ================================================== */

  footer {
    background-position: center;
    height: 18vh;
    margin: 50px 0;

    .containerr {
      top: 54%;
      left: 50%;

      h2 {
        font-size: 35px;
      }
      .icons {
        margin: 10px 0;

        ul {
          width: 200px;
          margin: 10px auto 0;
          display: flex;
          flex-wrap: wrap;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          justify-content: center;
          gap: 10px;

          li {
            list-style: none;
            align-items: center;

            a {
              color: #fff;
              text-decoration: none;
              white-space: nowrap;
              font-size: 14px;

              i {
                color: #fff;
                font-size: 15px;
                margin-right: 5px;
              }
            }
          }
        }
      }

      p {
        color: var(--p-txt-color);
        text-align: center;
        font-size: 13px;
        white-space: nowrap;
      }
    }
  }
}
